<h3 class = "title">
    <a href="/toy" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New
    </a>
    Toy List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th class = "title">Name</th>
            <th class = "title">Price</th>
            <th class = "title">Amount</th>
            <th class = "title">Provider</th>
            <th class = "title">Country</th>
            <th class = "title">Email</th>
            <th class = "title">Phone</th>
            <th class = "title">City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.provider}}</td>
            <td>{{this.country}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/toy/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/toy/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>