<h3 class = "title" style = "text-align: center;">{{viewTitle}}</h3>
<form action="/staff" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{staff._id}}">
    <div class="form-group title">
        <label>Staff Name</label>
        <input type="text" class="form-control" name="name" value="{{st.name}}" placeholder="Staff Name">
        <div class="text-danger">
            {{staff.nameError}}
        </div>
    </div>
    <div class="form-group title">
        <label>Age</label>
        <input type="text" class="form-control" name="age" value="{{st.age}}" placeholder="Age">
        <div class="text-danger">
            {{staff.ageerror}}
        </div>
    </div>
    <div class="form-group title">
        <label>Gender</label>
        <input type="text" class="form-control" name="gender" value="{{st.gender}}" placeholder="Gender">
        <div class="text-danger">
            {{staff.genderError}}
        </div>
    </div>
    <div class="form-group title">
        <label>Department</label>
        <input type="text" class="form-control" name="department" value="{{st.department}}" placeholder="Department">
        <div class="text-danger">
            {{staff.departmentError}}
        </div>
    </div>
    <div class="form-group title">
        <label>Country</label>
        <input type="text" class="form-control" name="country" value="{{st.country}}" placeholder="Country">
        <div class="text-danger">
            {{staff.countryError}}
        </div>
    </div>
    <div class="form-group title">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{st.email}}" placeholder="Email">
        <div class="text-danger">
            {{staff.emailError}}
        </div>
    </div>
    <div class="form-group title">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone" value="{{st.phone}}" placeholder="Phone">
        <div class="text-danger">
            {{staff.phoneError}}
        </div>
    </div>

    <div class="form-group title">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/staff/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>
